:root {
    --primary-color: #fff;
    --secondary-color: #333;
    --main-color: #00C2FF;
    --circle-color: #d3d3d3;
    --input-color: #f9f9f9;
    --hover-bg-color: #00C2FF3D;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 30px;
}

.img1 {
    height: 15px;
    width: 15px;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    height: auto;
}

.bar {
    width: 3px;
    height: 4px;
    margin: 3px 0;
    background-color: var(--secondary-color);
}

.action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 56px;
    margin: 50px 0;
}

.action-bar--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
}

.pause-icon {
    background-color: var(--main-color);
}

.action-bar--icon:hover{
background-color: var(--hover-bg-color);
}

.img2 {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.tool-bar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background: var(--primary-color);
    box-shadow: 0px -2px 4px 0px #C8C8C83D;
    height: 64px;
    width: 100%;
}

.tool-bar--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
}

.sand-timer {
    background-color: var(--hover-bg-color);
}

.img3 {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.timer-circle {
    margin: 50px auto;
    position: relative;
    height: 325px;
    width: 325px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px var(--circle-color) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.timer-circle--C {
    height: 295px;
    width: 295px;
    border-radius: 50%;
    background: var(--primary-color);
    border: 1px solid var(--circle-color);
    box-shadow: 0px 0px 7px 0px var(--circle-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-circle {
    position: absolute;
    width: 320px;
    height: 320px;
}

#circle1 {
    stroke-width: 1px;
    stroke: var(--circle-color);
}

#circle2 {
    stroke-width: 2px;
    stroke: var(--main-color);
    stroke-dasharray: 973.5000610351562;
    stroke-dashoffset: -973.5000610351562;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 1s linear;
}

.time {
    font-size: 64px;
    color: var(--main-color);
    letter-spacing: 0.64px;
    font-weight: 300;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}


/* The UX design */

.menu-list {
    display: none;
    position: absolute;
    right: 1%;
    top: 70%;
    padding: 10px;
    background-color: var(--input-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 160px;
    height: 20px;
    border-radius: 10%;
}

body.dark_mode {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

body.dark_mode .bar {
    background-color: var(--primary-color);
}

body.dark_mode .menu-list {
    color: var(--secondary-color);
}

body.dark_mode .tool-bar {
    background-color: var(--secondary-color);
}

body.dark_mode .timer-circle--C {
    background-color: var(--secondary-color);
}

.status-bar--img2 {
    display: none;
}

.timer-count {
    display: none;
}

/* The Timer Input */

.timer--start{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer--start button{
    width: 150px;
    height: 50px;
    display: block;
    margin: 50px auto;
    background-color: var(--main-color);
    border: var(--main-color);
    font-weight: bold;
    border-radius: 10%;
    cursor: pointer;   
}

.timer-input {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.timer-input input {
    background-color: var(--input-color);
    box-shadow: var(--box-shadow);
    height: 70px;
    width: 70px;
    margin: 50px 0;
    font-size: larger;
    font-weight: bold;
}

