body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 30px;
}

.img1 {
    height: 15px;
    width: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 15px;
}

.bar {
    width: 3px;
    height: 4px;
    margin: 3px 0;
    background-color: #333;
}

.Timer-clock {
    position: relative;
    width: 335px;
    height: 335px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.time {
    position: absolute;
    width: 158px;
    height: 87px;
    left: 100px;
    top: 60px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.01em;
    color: #00C2FF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.circle {
    width: 335px;
    height: 335px;
    border-radius: 50%;
}

.circle1 {
    border: 3px solid #D3D3D3;
}

.circle2 {
    border: 1px solid #00C2FF;
    /* box-shadow: 0px 0px 4px #00C2FF; */
}


.circle3 {
    border: 3px solid #D3D3D3;
}
